:root{
  --padding-center: 3rem 
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2.5rem;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.escondido{
  display: none;
}

.sobre{
  width: 100%;
  background-color: #dadada;
  padding: var(--padding-center);
}
.sobre .container{
  flex-direction: column;
  gap: 20px
}

.sobre p{
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
}

.episodios{
  width: 100%;
  background-color: #fff;
  padding: var(--padding-center);
}

.episodios .container{
  flex-direction: column;
  gap: 3rem;
}

.episodio{
  background: #babaca;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 2rem;
  transition: 0.7s;
  cursor: pointer;
}

.episodio:hover{
  background-color: #e8e8e8;
}

.episodio .imgEpisodio{
  width: 186px;
  border-radius: 5px;
}

.infos-episodio{
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}

.infos-episodio p {
  height: 116px;
  width: 100%;
  line-height: 30px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.participantes{
  align-items: center;
  gap: 10px;
}

.participante{
  align-items: center;
  gap: 5px;
}

.participante img{
  width: 30px;
  border-radius: 50%;
}


.equipe{
  width: 100%;
  background-color: #dadada;
  padding: var(--padding-center);
}

.equipe .container{
  flex-direction: column;
}

.equipe .membros{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.equipe .membro{
  width: 28%;
}

.membro img{
  border-radius: 5px;
  width: 100%;
}


@media screen and (max-width: 800px){
  .episodio{
    flex-direction: column;
  }

  .episodio-data{
    display: none;
  }
}
